/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY E FONTE GLOBAL */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
    color: #2c3e50;
}

/* HEADER */
header {
    background-color: #34495e;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 10px 0;
}

header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* MENU */
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 3rem;
}
/*
.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 1 1 calc(45% - 2rem); /* Ajuste para largura dos cartões 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
*/

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 1 1 calc(45% - 2rem); /* Ajuste para largura dos cartões */
    max-width: 500px; /* Define uma largura máxima para os cartões */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem; /* Espaçamento entre os cartões */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.8rem;
    color: #34495e;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1rem;
    color: #7f8c8d;
}

.card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* FOOTER */
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
}

footer p {
    font-size: 0.9rem;
}

/* Responsividade 
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }
}
*/


@media (max-width: 768px) {

    .menu {
        flex-direction:inherit;
        align-items: center;
    }
    .card {
        flex: 1 1 100%;
        max-width: 100%; /* Largura máxima ajustada para telas menores */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    header h3 {
        font-size: 1rem;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    footer p {
        font-size: 0.8rem;
    }
}

